body{
  margin: 0px;
}

.projects div {
    margin: 20px;}

.cards {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 10px;
        list-style: none;
      }
.cards li {
    position: relative;
    overflow: hidden;
  }

.cards li img {
    width: 290px;
    height: 250px;
    margin: 10px;
    transition: 2s;
  }  

.cards li:hover img {
    transform: scale(1.5);
  }
  .card-content {
    margin: 20px;
  }
  .bottomy-container:hover{
    text-transform: uppercase;
    /* color: rgb(226, 134, 43); */
    text-align: center;
    margin-top: 50px;
    transform: scale(1.5);
    font-style: italic;
    color: darkred;
    position: relative;
    overflow: hidden;
    padding-right: 15px;
  }
  .tunu{
    font-size:65px;
    padding-top: 5px;
}

#land-color{
  text-transform: uppercase;
  font-style: oblique;
  color: blueviolet;}

.bottomy-li{
  padding: 0px 20px 5px 20px;
  text-align: center;
  border-radius: 20%; 
  text-transform: uppercase;
}
.ctoaction{
  text-align: center ;
  position: absolute;
  top: 10px;
  left: 50px;
  right: 30px;
  display: flex;
  justify-items: center;
  
  
  
/* }
.actionmage{
  width: 50px;
  height: 10px; */
}
/* .button4h{
  border-radius: 100%;
} */

.tunumap{
  display: inline-block;
  position: absolute;
   left: 1080px;
   bottom: 150px;
  text-align: center;
  background-color: rgb(206, 209, 29);
  border-radius: 50%;
  padding: 10px;
 
}
.tunumap:hover{
  color: blueviolet;
}
/* .button-hover:hover{
  color:powderblue;
} */

/* responsive media */
@media screen and (max-width: 600px){
  
  /* resize */
 .img{
  width:90px;
  height: 100px
 };
  .projects div {
      margin: 5px 10px;}
  
  .cards {
          display: flex;
          justify-content: space-around;
          align-items: center;
          margin: 1px;
          padding-left: 9px;
          list-style: none;
        }
  
   
  /* .card-content {
      margin: 2px;
    } */
    .bottomy-container:hover{
      text-transform: uppercase;
      /* color: rgb(226, 134, 43); */
      text-align: center;
      margin-top: 10.0px;
      transform: scale(1);
      font-style: italic;
      color: darkred;
      position: relative;
      overflow: hidden;
      padding-left: 0px;
    }
    /* .tunu{
      font-size:65px;
      padding-top: 5px;
  } */
  
  #land-color{
    text-transform: uppercase;
    font-style: oblique;
    color: blueviolet;}
  
  .bottomy-li{
    padding: 0px 10px 2.5px 10px;
    text-align: center;
    border-radius: 20%; 
    text-transform: uppercase;
  }
  /* call 2 action */
  .ctoaction{
    text-align: center ;
    position: absolute;
    top: 0px;
    left: 25px;
    right: 15px;
    display: flex;
    justify-items: center;
    
    
    
  /* }
  .actionmage{
    width: 50px;
    height: 10px; */
  }
  /* .button4h{
    border-radius: 100%;
  } */
  
  .tunumap{
    display: inline-block;
    position: absolute;
     left: 90px;
     bottom: 60px;
    text-align: center;
    background-color: rgb(206, 209, 29);
    border-radius: 10px;
    padding: 5px;
   
  }
  
  .cards li img {
          width: 90px;
          height: 70px;
          margin: 10px;
          transition: 2s;
        }  
  .cards li {
          position: relative;
          overflow: hidden;
          width: 90px;
          height: 150px;
          padding: 0 5px;
        }
  .tunu{
          font-size:30px;
          /* padding-top: 0px; */
        }
}