#landHistory{
  background-color: white;
  /* margin: 0px 30px 25px 30px; 
  border: 1px solid rgb(131, 131, 236); 
  box-shadow: 1px 1px 1px 1px rgba(255, 0, 0, 0.506);
  border-radius: 0.5rem; */
  visibility:visible;
  scrollbar-gutter:initial;
  scroll-behavior:smooth;
  overflow-y:scroll ;
  overflow-x: scroll;
  height:fit-content ;
  background-image: -webkit-linear-gradient(top, rgb(26, 18, 249), rgb(45, 3, 3) );
  -moz-background-image: linear-gradient(top, rgb(91, 18, 249), rgb(22, 8, 8) );
  -ms-background-image: linear-gradient(top, rgb(95, 18, 249), rgb(26, 4, 4) );
  -o-background-image: linear-gradient(top, rgb(55, 10, 146), rgb(24, 3, 3) );
}

#landHistor{
  background-color: white;
  /* margin: 0px 30px 25px 30px; 
  border: 1px solid rgb(131, 131, 236); 
  box-shadow: 1px 1px 1px 1px rgba(255, 0, 0, 0.506);
  border-radius: 0.5rem; */
  visibility:visible;
  scrollbar-gutter:initial;
  scroll-behavior:smooth;
  overflow-y:scroll ;
  overflow-x: scroll;
  height:fit-content ;
  /* background-image: -webkit-linear-gradient(top, rgb(26, 18, 249), rgb(45, 3, 3) );
  -moz-background-image: linear-gradient(top, rgb(91, 18, 249), rgb(22, 8, 8) );
  -ms-background-image: linear-gradient(top, rgb(95, 18, 249), rgb(26, 4, 4) );
  -o-background-image: linear-gradient(top, rgb(55, 10, 146), rgb(24, 3, 3) ); */
}


.projects div {
    margin: 20px;}

.cards {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 10px;
        list-style: none;
      }
.cards li {
    position: relative;
    overflow: hidden;
  }

.cards li img {
    /* width: 290px;
    height: 250px; */
    width: 90px;
    height: 70px;
    margin: 10px;
    transition: 2s;
  }  

.cards li:hover img {
    transform: scale(1.5);
  }
  
.card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    list-style: none;
  }
  .card li {
    position: relative;
    overflow: hidden;}

  .card li img {
    width: 130px;
    height: 120px;
    margin: 10px;
    transition: 2s;
  }  

.card li:hover img {
    transform: scale(1.5);
  }
  button {
    width: 250px;
    height: 55px;
    border-radius: 15px;
    border: 0px;}
  .h4{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(0, 0, 0, 0.692);

  }
  .lakle{
    color: rgba(128, 255, 0, 0.903);
  }

  .alorgbodzi{
    margin: 10px auto;
    text-align: center;
  }

  .alorgbodzi .image{
    margin: 10px auto;
    text-align: center;
    width: 500px;
    margin: 10px auto;
  }
/* responsive media */
@media screen and (max-width: 600px){

.projects div { /* yellow div */
margin: 5px;}

.cards {/* black card */
display: flex;
justify-content: space-around;
align-items: center;
margin: 8px 3px;
padding-left: 1px;
list-style: none;
}

.cards li{
margin: 0px;
padding: 0px;
}
.card li img {
width: 60px;
height: 60px;
margin: 1px;
transition: 2s;
}    

.cards li img {/* the images */
/* width: 290px;
height: 250px; */
width: 60px;
height: 60px;
margin: 2px;
transition: 2s;}

.card {/* blue ash */
display: flex;
justify-content: space-around;
align-items: center;
/* margin: 10px; */
list-style: none;
width: 500px;
margin-left:1px;
padding: 2px;
}
button {
width: fit-content;
height: 35px;
border-radius: 15px;
border: 0px;
margin:10px ;

}

.card-content,p{
font-size: 14px;
margin: 5px;
text-decoration: none;
}

.h4{ /* alorgbodzi profile txt color */
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: rgba(0, 0, 0, 0.692);
padding: 5px;

} 


.alorgbodzi .image{
  width: 140px;
  height: 120px;
  text-align: center;
  margin: 10px auto;
  text-decoration: none;
  }  

.image{
width: 140px;
height: 120px;
text-align: center;
margin: 10px auto;
text-decoration: none;
}  
ul{
text-decoration: none;
}
}
