body{
  margin: 0PX; 
  text-align: center;}
.top{
  display: inline-block;
  background-color: #a6b7f8; 
  width: 200px; 
  /* height: 80px;} */
  position: absolute;
  left: 500px;
  /* top: 50px; */
}
.middle{ display: inline-block;
  background-color: #a6b7a8; 
  width: 100px; 
  height: 80px;
  position: absolute;
  left: 690px;
  bottom: 880px;

}
.container{
  
  margin: 0 auto 0 auto;
  display: inline-block;
}
good
body{
    margin: 0px;
    text-align: center;
    background-color: #d1b08e94;
}



.top-container{
    background-color: slateblue;
    width: 200px;
    height: 200px;
    display: inline-block;
    position: relative;
    top:100px;
}


.middle-container{
    background-color: rgb(205, 134, 90);
    width: 200px;
    height: 200px;
    display: inline-block;
    position: relative;
    left:228px;
    top:100px;
    /* right: 30px; */
    border-radius:10%;
}
    
  
.bottom-container{
        background-color: rgba(255, 255, 0, 0.353);
        width: 220px;
        height: 220px;
        display: inline-block;
        position: relative;
        right: 202px;
        border-radius:100%;
        text-transform: capitalize;
    }


img{
    width: 200px;
    height: 200px;

}

.bottom-container:hover{
    text-transform: uppercase;
    color: rgb(226, 134, 43);
}
.tunu{
    font-size:85px;
    padding-top: 5px;
}
/* .p{
     font-size: 20px;
    padding: 0;
    margin: 0; 
} */
.children{
    display: inline-block;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
    color: rgb(154, 14, 14);
    font-weight: 500rem;
    text-transform: uppercase;
  }
  
       
  .projects div {
    margin: 20px;
  }
  
  .projects h3 {
    text-transform: uppercase;
  }
  /* this is for the project cards */
  .cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    list-style: none;
  }

  
  .cards li {
    position: relative;
    overflow: hidden;
    
  }
  
  .cards li img {
    width: 90px;
    height: 50px;
    margin: 10px;
    transition: 2s;
  }


  .cards li:hover img {
    transform: scale(1.5);
    
  }
  .cards li:hover h4 {
    margin-top: 50px;
  }
  
  .cards li h4 {
    text-transform: uppercase;
  }
      
  .card-content {
    margin: 20px;
  }

  