body{
    margin: 0px;
    text-align: center;
    background-color: #d1b08e94;
}

.first-div{
    margin-bottom: 100px;
    display: block;
    bottom: 1000px;
    background-color: rgb(210, 189, 189);
    
    
}
.first-image{
    width: 100%;

}
.top-container{
    background-color: slateblue;
    width: 200px;
    height: 200px;
    display: inline-block;
    position: relative;
    top:100px;
}

hr
.topy-container{
  background-color: slateblue;
  width: 536px;
  height: 412px;
  display: inline-block;
  position: fixed;
  bottom: 12px;
  right: 780px;
  top: 213px;
  /* top: 79px; */
  /* right: 5000px; */
}
/* .topy-image{ 
    background-color: slateblue;
    width: 536px;
    height: 412px;
    display: inline-block;
    position: fixed;
    bottom: 12px;
    right: 780px;
    top: 213px;
  }  */

.middle-container{
    background-color: rgb(205, 134, 90);
    width: 200px;
    height: 200px;
    display: inline-block;
    position: relative;
    left:228px;
    top:100px;
    /* right: 30px; */
    border-radius:10%;
}
    hr
    .middley-container{
      background-color: rgb(205, 134, 90);
      width: 200px;
      height: 200px;
      display: inline-block;
      position: relative;
      left:228px;
      top:100px;
      /* right: 30px; */
      border-radius:10%;
  }
.bottom-container{
        background-color: rgba(255, 255, 0, 0.353);
        width: 220px;
        height: 220px;
        display: inline-block;
        position: relative;
        right: 202px;
        border-radius:100%;
        text-transform: capitalize;
    }
.bottomy-container{
      background-color: rgba(255, 255, 0, 0.353);
      width: 220px;
      height: 220px;
      display: inline-block;
      position: relative;
      right: auto;
      bottom: 3500px;
      left:auto;

      border-radius:100%;
      text-transform: capitalize;
  }

img{
    width: 200px;
    height: 200px;

}
.topy-image{ 
  /* background-color: slateblue; */
  width: 536px;
  height: 412px;
  display: inline-block;
  position: fixed;
  bottom: 12px;
  right: 780px;
  top: 213px;
}
#land-color{
    text-transform: uppercase;
    font-style: oblique;
    color: blueviolet;
}
.bottom-container:hover{
    text-transform: uppercase;
    color: rgb(226, 134, 43);
}
.bottomy-container:hover{
  text-transform: uppercase;
  color: rgb(226, 134, 43);}
.tunu{
    font-size:85px;
    padding-top: 5px;
}
.p{
    /* font-size: 20px;
    padding: 0;
    margin: 0; */
}
.children{
    display: inline-block;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
    color: rgb(154, 14, 14);
    font-weight: 500rem;
    text-transform: uppercase;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(0, 0, 0);
    font-family: "Poppins", sans-serif;
  }
  
  .logo {
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    display: flex;
    margin-bottom: 10px;
  }
  
  #logo-text {
    color: white;
    letter-spacing: 10px;
    font-size: 80px;
    text-transform: uppercase;
    margin: 20px 0px 0px 20px;
  }
  
  #nav-logo {
    width: 90px;
    height: 60px;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 80%;
  }
  
  .nav-links li {
    list-style-type: none;
  }
  
  .nav-links a {
    color: rgba(247, 234, 50, 0.996);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-style: 14px;
    font-size: xx-large;
  }
  
  .burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
  }
  
  .burger {
    display: none;
    cursor: pointer;
  }
  
  /* TABLET */
  @media screen and (max-width: 1536px) {
    .nav-links {
      width: 75%;
      margin-left: 10px;
    }
  }
  
  /* MOBILE */
  @media screen and (max-width: 768px) {
   
  
    body {
      overflow-x: hidden;
    }
  
    /* WHAT SHOULD HAPPEN TO THE NAV-LINKS WHEN WE GET TO MOBILE */
    .nav-links {
      position: absolute;
      right: 0px;
      height: 90vh;
      top: 8vh;
      background-color: black;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
    }
    /* i want the nav bar lists not to show, so that when we click on the burger icon it slowly fades in */
    .nav-links li {
      opacity: 0;
    }
  
    .burger {
      display: block;
    }
  
    .intro {
      margin-bottom: 40px;
    }
  
    button {
      margin-top: 50px;
    }
  
    .about-text-box {
      max-width: 700px;
      min-width: 100px;
    }
  
    .cards {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .cards li img {
      width: 500px;
      height: 300px;
    }
  
    .intro img {
      display: none;
    }
  
    .image-box img {
      display: none;
    }
  
    .about-card {
      width: 200px;
      padding: 0px;
    }
  
    .Ast1 {
      margin: auto;
      margin: 30px 150px 30px 150px;
      background-color: black;
      color: white;
    }
  }
  /* add image as logo */
  #nav-logo {
    /* float: left; */
    width: 70px;
    height: 60px;
    margin-right: 10px;
    margin-top: 30px;
  }
  
  .nav-active {
    transform: translateX(0%);
  }
  
  /* now what we have to do is to animate the list into the humburger menu
  ...so lets build an animation
  */
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
  
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  
  /* this is the last code to add. After all is said and done */
  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .toggle .line2 {
    opacity: 0;
  }
  
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  
  /* this is for the main content */
  .content {
    margin: 0px;
  }
  .intro {
    background-image: url(./images/BG.png);
    background-size: cover;
    height: 700px;
    padding: 0px 0px 0px 20px;
  }
  
  .intro img {
    width: 300px;
    height: 580px;
    position: absolute;
    left: 45%;
    padding-top: 100px;
  }
  
  .intro div {
    position: absolute;
    top: 35%;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
  }
  
  .text {
    font-size: 50px;
    font-weight: bold;
    margin-left: 40px;
  }
  
  .hello {
    font-weight: lighter;
    font-style: italic;
  }
  
  .title {
    font-size: 35px;
    font-weight: lighter;
  }
  .fami-btn { 
    width: 300px;
    height: 55px;
    border-radius: 15px;
    border: 0px;
    position: absolute;
    top: 220px;
    right: 10px;
  text-align: center; 
  margin: 40px 0px 0px 0px;
  }
  
  button {
    width: 250px;
    height: 55px;
    border-radius: 15px;
    border: 0px;
    
  }
  
  .btn-project {
    background-color: rgb(204, 204, 204);
    padding: 0%;
  }
  
  .btn-project a {
    color: black;
    font-size: 20px;
    position: relative;
  }
  
  .btn-contact {
    background-color: rgb(144, 177, 248);
    padding: 0%;
  }
  
  .btn-contact a {
    color: rgb(25, 4, 100);
    font-size: 20px;
    position: relative;
  }
  
  button:hover {
    background-color: rgb(192, 230, 240);
    /* transform: scale(1.5); */
    transition: transform 0.5s ease-in;
  }
  
  .about {
    background-color: #ededed;
    padding: 10px;
  }
  .about-card {
    background-color: #fff;
    padding: 20px;
    margin: 40px;
    border-radius: 10px;
    display: flex;
    min-width: 700px;
  }
  
  .image-box img {
    width: 350px;
    height: 270px;
  }
  
  .about-text-box {
    margin: 10px;
    padding: 0px 40px 0px 40px;
  }
  .about-text-box h3 {
    text-transform: uppercase;
  }
  .about-text-box h4 {
    font-weight: lighter;
  }
  
  .projects div {
    margin: 20px;
  }
  
  .projects h3 {
    text-transform: uppercase;
  }
  /* this is for the project cards */
  .cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    list-style: none;
  }

  .cards-all {
    /* display: flex; */
    justify-content: space-around;
    align-items: center;
    margin: 10px 0px 0px 450px;
    list-style: none;
  }

  .cards li {
    position: relative;
    overflow: hidden;
    
  }
  .cards-all li {
    position: relative;
    overflow: hidden;
  }

  .cards li img {
    width: 190px;
    height: 150px;
    margin: 10px;
    transition: 2s;
  }

.cards-all li img {
    width: 260px;
    height: 240px;
    margin: 10px;
    transition: 2s;
  }

  /* .cards-all li img {
    width: 260px;
    height: 240px;
    margin: 10px;
    transition: 2s;
  } */
/* 
  .cards-all li img {
    width: 90px;
    height: 70px;
    margin: 10px;
    transition: 2s;
  } */
  
  .cards li:hover img {
    transform: scale(1.5);
   
  }

  .cards li:hover h4 {
    margin-top: 50px;
  }

/* h1:hover {
    margin-top: 50px;
    transform: scale(1.5);
    text-transform: uppercase;
    font-style: italic;
    color: darkred;
  } */
  
  .cards li h4 {
    text-transform: uppercase;
  }

  
  .cards-all li:hover img {
    transform: scale(1.5);
    
  }
  .cards-all li:hover h4 {
    margin-top: 50px;
  }
  
  .cards-all li h4 {
    text-transform: uppercase;
  }
  
  .card-content {
    margin: 20px;
  }
/*   
  .family{
    width: 200px;
    height: 200px; }*/
  
    .all-together{
      /* position: relative;
      right: 2px; */
      /* display: inline; */
      /* left: 20px;
      margin: 0px; */
      width: 200px;
      height: 200px;
      background-color: black;
    }
    .button-hover:hover{
      background: #30e3cb;
      background-image: -webkit-linear-gradient(top, #17add4, #01191a);
      background-image: -moz-linear-gradient(top, #17add4, #011011);
      background-image:-o-linear-gradient(top, #17add4, #010b0b);
      background-image: linear-gradient( bottom, #7acdd4, #010b0c);
    }
      

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
     body {
      font-family: "Trebuchet MS", Helvetica, sans-serif;
    }
    .column {
        width: 100%;
        height: auto;
        font-size: 14px;

    }
/* the body         */
    body{
        margin: 0px;
        text-align: center;
        background-color: #d1b08e94;
    }

    .first-div{
        margin-bottom: 100px;
        display: block;
        bottom: 1000px;
        background-color: white;
        
        
    }
    .first-image{
        width: 100%;

    }
    .top-container{
        background-color: slateblue;
        width: 200px;
        height: 200px;
        display: inline-block;
        position: relative;
        top:100px;
    }
    hr
    .topy-container{
    background-color: slateblue;
    width: 536px;
    height: 412px;
    display: inline-block;
    position: fixed;
    bottom: 12px;
    right: 780px;
    top: 213px;
    }

    .middle-container{
        background-color: rgb(205, 134, 90);
        width: 200px;
        height: 200px;
        display: inline-block;
        position: relative;
        left:228px;
        top:100px;
        /* right: 30px; */
        border-radius:10%;
    }
        hr
        .middley-container{
        background-color: rgb(205, 134, 90);
        width: 200px;
        height: 200px;
        display: inline-block;
        position: relative;
        left:228px;
        top:100px;
        /* right: 30px; */
        border-radius:10%;
    }
    .bottom-container{
            background-color: rgba(255, 255, 0, 0.353);
            width: 220px;
            height: 220px;
            display: inline-block;
            position: relative;
            right: 202px;
            border-radius:100%;
            text-transform: capitalize;
        }
    .bottomy-container{
        background-color: rgba(255, 255, 0, 0.353);
        width: 220px;
        height: 220px;
        display: inline-block;
        position: relative;
        right: auto;
        bottom: 3500px;
        left:auto;

        border-radius:100%;
        text-transform: capitalize;
    }

    #land-color{
        text-transform: uppercase;
        font-style: oblique;
        color: blueviolet;
    }
    .bottom-container:hover{
        text-transform: uppercase;
        color: rgb(226, 134, 43);
    }
    .bottomy-container:hover{
    text-transform: uppercase;
    color: rgb(226, 134, 43);}
    .tunu{
        font-size:80px;
        padding-top: 5px;
    }
   
/* the home,people,land buttons         */
    .fami-btn { 
        position: absolute;
        top: 350px;
        left: 125px;
        text-align: center; 
        margin: 15px 0px 0px 0px;
    }

    button {
        height: 55px;
        border-radius: 15px;
        box-shadow: 1px 1px 2px red;
        border: 0px;
        background-color:rgb(138, 96, 62);
        cursor: pointer; 
        color: white; 
        width: 55px;
        
        /* background-color:rgb(62, 138, 138) ;cursor: pointer; color: white; width: 140px; */
    }

    .topy-image {
/* background-color: slateblue; */
width: 100%;
height: 50%;
display: inline-block;
position: fixed;
bottom: 12px;
right: 0px;
top:300px;
/* background-image: url(./images/BG.png);
        background-size: cover;
        height: 700px;
        padding: 0px 0px 0px 20px; */

}
img{
        width: 6rem;
        height: 8rem;

    }
    .p{
         font-size: 20px;
        padding: 0;
        margin: 0; 
        color:rgb(227, 252, 7);
     }

     .notwo{
        font-size: 80px;
        /* color:rgb(227, 252, 7); */

     }
/* the childrens */
.cards-all {
        /* display: flex; */
        justify-content: space-around;
        align-items: center;
        margin: 10px 0px 0px 300px;
        list-style: none;
    }
    
    .btn-project {
        background-color: rgb(204, 204, 204);
        padding: 0%;
    }
    
    .btn-project a {
        color: black;
        font-size: 20px;
        position: relative;
    }
    
    .btn-contact {
        background-color: rgb(144, 177, 248);
        padding: 0%;
    }
    
    .btn-contact a {
        color: rgb(25, 4, 100);
        font-size: 20px;
        position: relative;
    }
    
    button:hover {
        background-color: rgb(192, 230, 240);
        /* transform: scale(1.5); */
        transition: transform 0.5s ease-in;
    }
    
    .about {
        background-color: #ededed;
        padding: 10px;
    }
    .about-card {
        background-color: #fff;
        padding: 20px;
        margin: 40px;
        border-radius: 10px;
        display: flex;
        min-width: 700px;
    }
/* ends battch1 here       */
    .image-box img {
        width: 350px;
        height: 270px;
    }
    
    .about-text-box {
        margin: 10px;
        padding: 0px 40px 0px 40px;
    }
    .about-text-box h3 {
        text-transform: uppercase;
    }
    .about-text-box h4 {
        font-weight: lighter;
    }
    
    .projects div {
        margin: 20px;
    }
    
    .projects h3 {
        text-transform: uppercase;
    }
    /* this is for the project cards */
    .cards {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 10px;
        list-style: none;
    }

    

    .cards li {
        position: relative;
        overflow: hidden;
        
    }
    .cards-all li {
        position: relative;
        /* right: 90px; */
        overflow: hidden;
    }

    .cards li img {
        width: 190px;
        height: 150px;
        margin: 10px;
        transition: 2s;
    }

    .cards-all li img {
        width: 260px;
        height: 240px;
        margin: 10px;
        transition: 2s;
        position: relative;
        right: 5rem;
    }

  
    /*  */
    @media screen and (min-width: 601px) and (max-width: 1024px) {
    body {
        font-size: 16px; 



    }
    
    @media screen and (min-width: 1025px) {
    body {
        font-size: 18px;
    }
    }
  }